body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #5ff121, #66a6ff);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
}
}
input{
    width: 90%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius:4px;
}
button{
    width: 95%;
    padding: 8px;
    background-color: #4a90e2;
    color: white;
    border: none:
    border-radius: 4px;
    margin-top: 10px;|

}